<%- include('../partials/header') %>

<nav>
  <a href="/">Home</a>
  <a href="/flights">All Flights</a>
  <a href="/flights/new">Add New Flight</a>
  <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
</nav>


<h3>Flight Departure Details</h3>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>FlightNo</th>
      <th>Departs</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs.toLocaleDateString() %></td>
      </tr>
  </tbody>
</table>

</section>

<% if (flight.arrivals.length) { %>
    <table>
        <thead>
          <tr>
            <th>Destination</th>
            <th>Arrival</th>
          </tr>
        </thead>
        <tbody>
          <% flight.arrivals.forEach(function(a) { %>
            <tr>
              <td><%= a.destination %></td>
              <td><%= a.arrival %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Information Yet</h5>
    <% } %>

    <h3>Ticket</h3>
<table>
  <thead>
      <th>
          Seat
      </th>
      <th>
          Price
      </th>
      <th>
      </th>
  </thead>
  <% tickets.forEach(function(ticket) { %>
      <tr>
          <td>
              <%= ticket.seat %>
          </td>
          <td>
              <%= ticket.price %>
          </td>
      </tr>
      <% }) %>
</table>

<br><br><h2>Arrivals</h2>
<form id="add-arrival-form" method="POST"
  action="/flights/<%= flight._id %>/arrivals">
  <label>Destination</label>
  <select name="destination" id="arrivals">
    <option value="Choose One"></option>
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select><br>
  <label>Arrival</label>
    <input type="datetime-local" name="arrival">
  </select><br>
  <button type="submit">Add Arrival</button>
</form>


<%- include('../partials/footer') %>